/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}

/* variables */
$blue: #40417c;
$white: #fff;
$black: #262626;
$light_gray: #b8b8b8;

/* general styles */
body {
   font-family: "Nunito", sans-serif;
   font-size: 1.15em;
   color: $black;
}
section {
   margin-top: 75px;
}
ol, ul {
   list-style: none;
}

/* header */
#header {
   background-color: $blue;
   #abouttitle {
      margin: 0 auto;
      padding-bottom: 37px;
      text-align: center;
      color: $white;
      width: 90%;
   }
   h1 {
      font-size: 3em;
      text-transform: uppercase;
      line-height: 1.1em;
      font-weight: 600;
      padding-top: 2em;
   }
   h2 {
      font-size: 1.5em;
      font-weight: 600;
      margin-top: .8em;
      line-height: 1.2em;
   }
   p {
      font-weight: 300;
      font-size: 1.25em;
      line-height: 1.4em;
      margin-top: 3px;
   }
}

/* main */
#main {
   max-width: 1100px;
   margin: 0 auto;
   section {
      margin-left: 6%;
      margin-right: 6%;
      width: 88%;
      .sectiontitle {
         border-bottom: 4px solid $blue;
         width: 100%;
         h3 {
            font-size: 2.125em;
            font-weight: 600;
            color: $black;
            text-transform: uppercase;
            margin-bottom: 5px;
         }
      }
   }
   /* contact */
   #contact {
      .list {
         margin-top: 40px;
         div {
            margin-top: 23px;
            p {
               color: $black;
               line-height: 1.15em;
               span {
                  color: $blue;
                  font-weight: 700;
                  font-size: 1.25em;
                  text-transform: capitalize;
                  margin-right: 5px;
               }
               a {
                  text-decoration: none;
                  color: $black;
               }
            }
         }
      }
   }
   /* work experience, education */
   #workexperience, #education {
      article {
         width: 100%;
         margin-top: 60px;
         overflow: hidden;
         .dugbox {
            float: left;
            width: 32%;
            margin-right: 4%;
            p {
               font-size: 1.25em;
               font-weight: 700;
               color: $light_gray;
               padding-top: 8px;
            }
         }
         .boxcont {
            float: left;
            width: 64%;
            h4 {
               font-size: 1.875em;
               font-weight: 400;
               color: $black;
            }
            h5 {
               font-size: 1.375em;
               margin-top: 15px;
               font-weight: 700;
               color: $blue;
            }
            .address {
               line-height: 2em;
               font-size: 1.286em;
               margin-top: 15px;
               color: $black;
               font-weight: 600;
            }
         }
      }
   }
   /* skills */
   #skills {
      .charthead {
         margin-top: 60px;
         position: relative;
         .levelskillval {
            width: 100%;
            overflow: hidden;
            div {
               width: 20%;
               float: left;
               height: 50px;
               text-align: center;
               p {
                  font-size: .875em;
                  margin-top: 1em;
                  color: $black;
                  text-transform: uppercase;
                  font-weight: 600;
               }
            }
            div.beg {
               background-color: #f0f0f0;
            }
            div.int {
               background-color: #e6e6e6;
            }
            div.adv {
               background-color: #dadada;
            }
            div.sem {
               background-color: #cecece;
            }
            div.exp {
               background-color: #bebebe;
            }
         }
      }
      #chart {
         margin-top: 58px;
         li {
            margin-top: 32px;
            .tstitle {
               margin-bottom: 10px;
               font-size: 1.25em;
            }
            .tsbar {
               height: 32px;
               background-color: $blue;
            }
         }
         li:nth-child(even) .tsbar {
            background-color: #5a5caf;
         }
      }
      .qualification {
         margin-top: 57px;
         h5 {
            font-size: 1.25em;
         }
         a {
            margin-left: 16px;
         }
      }
   }
}