/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* general styles */
body {
  font-family: "Nunito", sans-serif;
  font-size: 1.15em; }

section {
  margin-top: 75px; }

/* variables */
/* header */
#header {
  background-color: #40417c; }
  #header #abouttitle {
    margin: 0 auto;
    padding-bottom: 37px;
    text-align: center;
    color: #fff;
    width: 90%; }
  #header h1 {
    font-size: 3em;
    text-transform: uppercase;
    line-height: 1.1em;
    font-weight: 600;
    padding-top: 2em; }
  #header h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: .8em;
    line-height: 1.2em; }
  #header p {
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.4em;
    margin-top: 3px; }

/* main */
#main {
  max-width: 1100px;
  margin: 0 auto;
  /* contact */
  /* work experience, education */ }
  #main section {
    margin-left: 6%;
    margin-right: 6%;
    width: 88%; }
    #main section .sectiontitle {
      border-bottom: 4px solid #40417c;
      width: 100%; }
      #main section .sectiontitle h3 {
        font-size: 2.125em;
        font-weight: 600;
        color: #262626;
        text-transform: uppercase;
        margin-bottom: 5px; }
  #main #contact .list {
    margin-top: 40px; }
    #main #contact .list div {
      margin-top: 23px; }
      #main #contact .list div p {
        color: #262626;
        line-height: 1.15em; }
        #main #contact .list div p span {
          color: #40417c;
          font-weight: 700;
          font-size: 1.25em;
          text-transform: capitalize;
          margin-right: 5px; }
        #main #contact .list div p a {
          text-decoration: none; }
  #main #workexperience article, #main #education article {
    width: 100%;
    margin-top: 60px;
    overflow: hidden; }
    #main #workexperience article .dugbox, #main #education article .dugbox {
      float: left;
      width: 32%;
      margin-right: 4%; }
      #main #workexperience article .dugbox p, #main #education article .dugbox p {
        font-size: 1.25em;
        font-weight: 700;
        color: #b8b8b8;
        padding-top: 8px; }
    #main #workexperience article .boxcont, #main #education article .boxcont {
      float: left;
      width: 64%; }
      #main #workexperience article .boxcont h4, #main #education article .boxcont h4 {
        font-size: 1.875em;
        font-weight: 400;
        color: #262626; }
      #main #workexperience article .boxcont h5, #main #education article .boxcont h5 {
        font-size: 1.375em;
        margin-top: 15px;
        font-weight: 700;
        color: #40417c; }
      #main #workexperience article .boxcont .address, #main #education article .boxcont .address {
        line-height: 2em;
        font-size: 1.286em;
        margin-top: 15px;
        color: #262626;
        font-weight: 600; }
